@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #655A56;
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.header-height{
  height: calc(100vh - 96px);
}